* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    width: 80%;
    max-width: 950px;
    padding: 5px;
}


header h1{
    font-size: 2em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

header nav{
    margin-bottom: 5%;
}

header nav ul{
    display: flex;
    color: #00f;
    list-style: none;
}

header nav ul li a{
    margin: 10px;
    text-decoration: none;
}

header nav ul li a:hover{
    color: #000;
    margin: 10px;
}

main section {
    border: 2px solid #F00;
    background-color: #808080;
    color:#FFF;
}

main section header h2{
       color: #F00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


main li{
   margin: 8px;
   text-align: left;

}